@import "/styles/variables/colors";
@import "/styles/mixins/mixins";

.skillContainer {
	width: 100%;
	height: 100%;
	padding: 9rem 0rem;
	position: relative;
}
.title {
	text-align: center;
}

.skillGrid {
	display: flex;
	margin-top: 5rem;
	width: 100%;
	gap: 10px;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	div {
		position: relative;
		background: $secondary;
		padding: 2rem 2rem;
		color: white;
		width: 20%;
		cursor: pointer;

		h2 {
			padding: 1rem 0rem;
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
		}
		.skillPercent {
			background: transparent;
			width: 100%;
			padding: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 2rem 0;

			span {
				height: 45px;
				width: 45px;
				padding: 1rem;
				background-color: $primaryBg;
				color: white;
				border-radius: 50%;
				font-size: 1.3rem;
				display: flex;
				justify-content: center;
				align-items: center;
				border: 2px solid white;
			}
		}

		@include for-910 {
			width: 30%;
		}

		@include for-768 {
			width: 100%;
		}
	}

	@include for-768 {
		flex-wrap: nowrap;
		flex-direction: column;
	}
}
